[submodule "themes/pelican-elegant"]
	path = themes/pelican-elegant
	url = https://github.com/talha131/pelican-elegant.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/blue-penguin"]
	path = themes/blue-penguin
	url = https://github.com/jody-frankowski/blue-penguin.git
[submodule "themes/pelican-bootstrap3"]
	path = themes/pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
